$global-radius: 0px;

$assets: "../../dist/images";

$font: fieldwork, sans-serif;
$black: #323343;
$darktext: rgba($black, 0.8);
$lighttext: rgba($black, 0.19);
$light: rgba($black, 0.05);
$white: #fff;