@charset 'utf-8';
@import url("https://use.typekit.net/qab2jvi.css");
@import "components/variables.scss";

.wp-block {
    max-width: 1280px;
}

.gutenberg-wordpressowka-block{
   
  @import 'components/fonts.scss';

  @import "components/reset.scss";

  @import "components/standards.scss";

  @import "components/wordpressowka2.scss";

  max-width: 684px;
  margin: 0 auto;
  font-family: $font;
}

p.wp-block-paragraph,
.wp-block-heading {
  font-family: $font;
  position: relative;
  max-width: 684px;
  margin: 0 auto;
  margin-bottom: 30px;
  line-height: 1.7;
  font-size: 18px;
  color: rgba($darktext, 0.7);
}